
<body>
<div class="container">
    <link rel="stylesheet" href="../css/following/style.css">
    <h1>Following</h1>

    <label ng-show="noFollowing">Follow users to see their activities...</label>
    <div class="row" id="userList">
        <table class="table table-hover">
            <thead>

            </thead>
            <tbody>

            <tr ng-repeat="u in users"  ng-class-odd="'alt'">
                <td></td>
                <td colspan=6">
                    <div class="row">
                        <div style="cursor:pointer;" ng-click="profile(u.friend.username)" class="col-xs-10 col-md-6"><h3 class="cap">&nbsp;&nbsp;&nbsp;&nbsp;{{u.friend.fullname}}</h3></div>
                        <br>
                        <br>
                        <br>

                    </div>
                         <div class="col-md-2 col-xs-6 small">
                            <img style="cursor:pointer;" ng-click="profile(u.friend.username)" src="{{u.friend.imgurl}}" class="img-responsive img-circle">
                         </div>

                        <div class="col-md-2 col-xs-6 small">
                            <br>
                            Username: <label>{{u.friend.username}}</label><br><br>
                            Email: <label> {{u.friend.email}} </label>


                        </div>
                        <div class="col-md-2 col-xs-6 small">
                            <br>
                            City: <label>Barcelona</label>  <br><br>
                            Country: <label>Spain</label>
                        </div>
                        <div class="col-md-2 col-xs-6 small">
                            <br>
                            Since: <label> {{u.friend.created | date:'MM/dd/yyyy'}}</label>  <br><br>
                            Age: <label> {{u.friend.age}}</label>

                        </div>
                        <div class="col-md-2 col-xs-12 text-center">

                            <h2>{{u.friend.level}}</h2>
                        </div>
                        <div class="col-md-2 col-xs-12 text-center">
                            <br>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                </button>
                                <ul style="cursor:pointer" class="dropdown-menu">
                                    <li><a href="" ng-click="profile(u.friend.username)">See profile</a></li>
                                    <li><a><button type=button class="btn btn-danger"  confirm="Unfollow {{u.friend.username}}?" confirm-title="Please, verify {{userlogged.fullname}}" confirm-settings="{size: 'sm'}" ng-click="remove(u.friend.username)">Unfollow</button></a></li>

                                </ul>
                            </div>
                            <!--<button class="btn btn-danger" ng-click="remove(u.friend.username)"><span></span>Unfollow</button>-->
                         </div>
                        <div class="col-xs-12"><hr></div>

                </td>
            </tr>
            </tbody>
        </table>

    </div><!--/row-->

    <div class="row">


        <hr>

    </div>


</div><!--/container-->
</body>




<!--
<head>
    <title>Friends</title>
</head>
<body>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th><h1>Following</h1></th>
        </tr>
        </thead>
    </table>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="friend in friends">
            <td class="list-group">
                <a href=""  ng-click="profile(friend.friend.username)" class="list-group-item"  > {{friend.friend.username}}</a>
            </td>
            <td><button class="btn btn-danger" ng-click="remove(friend.friend.username)">Unfollow</button></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
-->

