
<head>
    <title>Friends</title>
</head>
<body>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th><h1>Following</h1></th>
        </tr>
        </thead>
    </table>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="friend in friends">
            <td class="list-group">
                <a href=""  ng-click="profile(friend.friend.username)" class="list-group-item"  > {{friend.friend.username}}</a>
            </td>
            <td><button class="btn btn-danger" ng-click="remove(friend.friend.username)">Unfollow</button></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>

