<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-md-2"></div>
<div class="panel-group  col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">Race 1</div>
        <div class="panel-body">
            <div id="map" style="width:800px;height:300px"></div>
            <div class="row">
                <div class="col-md-10">
                    <table class="table table-striped col-md-5">
                        <tbody>
                        <tr>
                            <td>Time</td>
                            <td>22:21 h</td>
                        </tr>
                        <tr>
                            <td>Distance</td>
                            <td>10,15 Km</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-2">
                    <a data-toggle="tooltip" type="button" class="btn btn-lg btn-success" href="#/details/12">Details <span class="glyphicon glyphicon-zoom-in"></span></a>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="col-md-2"></div>
</body>
</html>