<!DOCTYPE html>
<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../css/login/normalize.css">
    <link rel="stylesheet" href="../css/login/style.css">

</head>

<body>
<div class="form">

    <ul class="tab-group">
        <li class="tab active"><a href="#/">Log In</a></li>
        <li class="tab"><a href="#register">Sign Up</a></li>
    </ul>


    <div id="login">
        <h1>Log In</h1>
        <form>
            <div class="field-wrap">
                <input type="text" placeholder="Username*" required ng-model="user.username">
            </div>
            <div class="field-wrap">
                <input type="password" placeholder="Password*" required pattern=".{2,}" ng-model="user.password"/>
            </div>

            <p class="forgot"><a href="#">Forgot Password?</a></p>

            <button class="button button-block" ng-click="login()"/>Log In</button>
        </form>

        <div class="or-box">
            <div class="omb_login">
                <div class="row omb_row-sm-offset-3 omb_socialButtons">
                    <div class="col-xs-3 col-sm-3">
                        <a href="#" class="btn btn-lg btn-block omb_btn-facebook">
                            <i class="fa fa-facebook visible-xs"></i>
                            <span class="hidden-xs">Facebook</span>
                        </a>
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <a href="#" class="btn btn-lg btn-block omb_btn-twitter">
                            <i class="fa fa-twitter visible-xs"></i>
                            <span class="hidden-xs">Twitter</span>
                        </a>
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <a href="#" class="btn btn-lg btn-block omb_btn-google">
                            <i class="fa fa-google-plus visible-xs"></i>
                            <span class="hidden-xs">Google+</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="or-box row-block">
            <div class="row">
                <div class="col-md-12 row-block">
                    <a href="#/register" class="btn btn-primary btn-block">Create New Account</a>
                </div>
            </div>
        </div>
        -->
    </div>
</div>
</body>
</html>
