<!DOCTYPE html>
<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../css/login/normalize.css">
    <link rel="stylesheet" href="../css/login/style.css">

</head>

<body>
<div class="form">

    <div id="login">
        <h1>Log In</h1>
        <form>
            <div class="field-wrap">
                <input type="text" placeholder="Username*" required ng-model="user.username">
            </div>
            <div class="field-wrap">
                <input type="password" placeholder="Password*" required pattern=".{2,}" ng-model="user.password"/>
            </div>

            <button type="button" class="button button-block" ng-click="login()">Log In</button>
                   <div ng-show="alertReg" ng-init="alert.message=''" ng-class="{'alert-danger': true, 'alert-dismissable': closeable}">
                    <a class="close" ng-click="closeAlert()">&times;</a>
                    <p>{{alert.message}}</p>
                </div>
            <div style="color: whitesmoke; text-align:right;">
                New to Flivess?
                <u style="color: whitesmoke;">
                    <a href="#/register" style="color: whitesmoke;">Join Now</a></u>
            </div>
        </form>

        <div class="or-box">
            <div class="omb_login">
                <div class="row omb_row-sm-offset-3 omb_socialButtons">
                    <div>
                        <a href="/auth/facebook/callback" class="btn btn-lg btn-block omb_btn-facebook">
                            <i class="fa fa-facebook visible-xs"></i>
                            <span class="hidden-xs">f Facebook</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>
