
<html>
<head>
    <title>Messages</title>
</head>
<body>

<div class="container">

    <table class="table">
        <thead>
        <tr>
            <th>MESSAGES</th>
        </tr>
        </thead>
    </table>

    <div class="col-md-3">
        <div class="list-group">
            <a href="" ng-click="conversacion(user.username)" class="list-group-item"  ng-repeat="user in users"> {{user.fullname}}</a>
        </div>
    </div>

    <div class="col-md-9">
        <tr>
            <td class="list-group">
                <a href="" ng-click="profile(usuarioC)" class="list-group-item text-center "><h1>{{usuarioC}}</h1></a>
            </td>
        </tr>
        <div class="media msg" ng-repeat="msg in msgs">
            <a class="pull-left" href="#">
                <img class="media-object" data-src="" alt="64x64" style="width: 32px; height: 32px;" src="">
            </a>
            <div class="media-body">
                <small class="pull-right time"><i class="fa fa-clock-o"></i> {{msg.createdAt}}</small>

                <h5 class="media-heading">{{msg.sender}}</h5>
                <small class="col-lg-10">{{msg.text}}</small>
            </div>
        </div>


        <table class="table">
            <thead>
            <tr>
                <th>Text</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input class="form-control" ng-model="message.text"></td>
                <td><button class="btn btn-primary" ng-click="sendMessage(usuarioC)">Send</button></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>