<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="../css/profileEdit/style.css">

</head>
<body>
<div class="container">
    <div class="row">

        <div class="row">
            <div class="col-md-9"><h1>{{friend.fullname}}</h1></div>
            <div class="col-md-3" ng-show="myprofile">
                <br>
                <a data-toggle="tooltip modal" type="button" class="btn btn-lg btn-primary" ng-click="showModel()">Send <i class="glyphicon glyphicon-envelope"></i></a>
                <button data-toggle="tooltip" type="button" class="btn btn-lg btn-success" ng-click="addFriend()" ng-show="show">Follow <span class="glyphicon glyphicon-user"></span></button>
                <button data-toggle="tooltip" type="button" class="btn btn-lg btn-danger"  ng-click="removeFriend()" confirm="Unfollow {{friend.username}}?" confirm-title="Please {{userlogged.fullname}}, verify" confirm-settings="{size:'sm'}" ng-show="!show">Unfollow <span class="glyphicon glyphicon-user"></span></button>
            </div>
            <div class="col-md-3" ng-show="!myprofile">
                <br>
                <a data-toggle="tooltip modal" type="button" class="btn btn-lg btn-info" href="#/editprofile">Edit <i class="glyphicon glyphicon-user"></i></a>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-3" align="center">
                    <img alt="Click edit to upload an image" width="200" height="200" src="{{friend.imgurl}}" class="img-circle img-responsive">
                </div>

                <div class=" col-md-6">
                    <table class="table table-user-information">
                        <tbody>
                        <tr>
                            <td><strong>Username</strong> </td>
                            <td>{{friend.username}}</td>
                        </tr>
                        <tr>
                            <td><strong>Full name</strong></td>
                            <td>{{friend.fullname}}</td>
                        </tr>
                        <tr>
                            <td><strong>Email</strong></td>
                            <td>{{friend.email}}</td>
                        </tr>
                        <tr>
                            <td><strong>Age</strong></td>
                            <td>{{friend.age}}</td>
                        </tr>
                        <tr>
                            <td><strong>Weight</strong></td>
                            <td>{{friend.weight}}</td>
                        </tr>
                        <tr>
                            <td><strong>Height</strong></td>
                            <td>{{friend.height}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class=" col-md-3">
            </div>
        </div>
    </div>
</div>

</div>
</body>
</html>