<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link  rel="stylesheet" href="../bower_components/angular-material/angular-material.css">
</head>
<body>
<div class="container">
    <div  class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-8">
                <div id="map" style="width:720px;height:400px"></div>
            </div>
            <div class="col-md-4">
                <table class="table table-striped ">
                    <thead>
                    <tr>
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                        <button data-toggle="tooltip" type="button" class="btn btn-lg btn-danger" ng-click="showConfirm($event, route._id)" ng-show="myTrack">Delete track</button>
                        </div>
                    </tr>
                    <tr>
                        <th>Parameters:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Time</td>
                        <td>{{route.time}}</td>
                    </tr>
                    <tr>
                        <td>Distance</td>
                        <td>{{route.distance}}</td>

                    </tr>
                    <tr>
                        <td>Average Speed</td>
                        <td>{{route.avg_speed}} min/Km</td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div  class="panel panel-default">
                <div google-chart chart="chartObject" style="{{cssStyle}}"></div>
            </div>
            <div  class="panel panel-default">
                <div google-chart chart="chartObject2" style="{{cssStyle}}"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div  class="panel ">
                <h1>RANKING</h1>
                <table class="table table-hover">
                    <thead class="thead-inverse">
                    <tr>
                        <th></th>
                        <th>User</th>
                        <th>Time</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody style="border: 1px solid grey;" ng-repeat="rank in ranking">
                    <tr ng-click="details(rank._id)" style="cursor: pointer;">
                        <td>{{$index+1}}</td>
                        <td >{{rank.username}}</td>
                        <td>{{rank.time}}</td>
                        <td><i ng-if="$index==0" style="color: gold" class=""></i></td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
</body>
</html>