
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sign-Up</title>
    <link rel="stylesheet" href="../css/login/normalize.css">
    <link rel="stylesheet" href="../css/login/style.css">
</head>

<body>

<div class="form">
    <div id="register">
        <h1>Sign Up</h1>
        <form>
                <div class="field-wrap">
                    <input  placeholder="Username *" ng-model="user.username" type="text" required="required"/>
                </div>

                <div class="field-wrap">
                    <input placeholder="Fullname *" required ng-model="user.fullname" type="text"  />
                </div>

                <div class="field-wrap" ng-init="user.password=''">
                    <input placeholder="Password *" ng-init="user.password=''" ng-model="user.password" type="password" required pattern=".{5,}" />
                    <label>(At least 5 characters)</label>
                </div>

                <div class="field-wrap">
                    <input placeholder="Re-enter password*" ng-init="reenterpass=''" ng-model="reenterpass" type="password" required autocomplete="off" />
                    <label>Fields with * are required</label>
                </div>

                <div ng-show="alertReg" ng-init="alert.message=''" ng-class="{'alert-danger': true, 'alert-dismissable': closeable}">
                    <a class="close" ng-click="closeAlert()">&times;</a>
                    <p>{{alert.message}}</p>
                </div>

                <button type="button" class="button button-block" ng-click="registerUser()">Get Started</button>

                <div style="color: whitesmoke; text-align:right;">
                    Already have an account?
                    <u style="color: whitesmoke;">
                        <a href="#/" style="color: whitesmoke;">Log In</a></u>
                </div>
        </form>

    </div>
</div>
</body>


</html>