<!DOCTYPE>
<html ng-app="messages">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <title>MESSAGES</title>
</head>
<body>
<div class="container" ng-controller="controller1">
    <h1>MESSAGES</h1>

    <table class="table">
        <thead>
        <tr>
            <th>AQUI VA EL USUARIO CON EL QUE TIENES EL FLUJO DE MENSAGES</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="message in messages">
            <td>{{message.text}}</td>
        </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
        <tr>
            <th>Reciver</th>
            <th>Sender</th>
            <th>Text</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input class="form-control" ng-model="message.reciver"></td>
            <td><input class="form-control" ng-model="message.sender"></td>
            <td><input class="form-control" ng-model="message.text"></td>
            <td><button class="btn btn-primary" ng-click="sendMessage()">SEND</button></td>
        </tr>
        </tbody>
    </table>

</div>
<!-- <script src="../node_modules/angular/angular.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="js/messages.js"></script>
</body>
</html>