<!DOCTYPE>
<html ng-app="messages">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <title>MESSAGES</title>
</head>
<body>
<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle"
            data-toggle="dropdown">
        MENU <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" role="menu">
        <li><a href="index.html">MAIN PAGE</a></li>
        <li class="divider"></li>
        <li><a href="friends.html">FRIENDS</a></li>
        <li class="divider"></li>
        <li><a href="messages.html">MESSAGES</a></li>

    </ul>
</div>

<button type="button"  onclick="window.location.href='editprofile.html'" class="btn btn-info pull-right">
    <span class="glyphicon glyphicon-user"></span> My Profile
</button>

<div class="jumbotron" ng-controller="boController">
    <div class="container">
        <h1>Messages</h1>


    </div>
</div>
<div class="container" ng-controller="controller1">

    <table class="table">
        <thead>
        <tr>
            <th>USER IN CONVERSATION</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="message in messages">
            <td>{{message.text}}</td>
        </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
        <tr>
            <th>Receiver</th>
            <th>Sender</th>
            <th>Text</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input class="form-control" ng-model="message.reciver"></td>
            <td><input class="form-control" ng-model="message.sender"></td>
            <td><input class="form-control" ng-model="message.text"></td>
            <td><button class="btn btn-primary" ng-click="sendMessage()">Send</button></td>
        </tr>
        </tbody>
    </table>

</div>




<!-- Librería jQuery requerida por los plugins de JavaScript -->
<script src="http://code.jquery.com/jquery.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!-- <script src="../node_modules/angular/angular.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="js/messages.js"></script>
</body>
</html>