<ion-view hide-back-button="true">

  <ion-nav-buttons side="left">
    <button ng-click="toSearch()" menu-toggle="left" class="button button-icon icon ion-ios-search-strong"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button ng-click="toTrack()" class="button icon ion-android-walk">Run!</button>
  </ion-nav-buttons>


  <ion-header-bar class="bar-subheader item-input-inset" side="left">
  <button class="button button-clear button-assertive" ng-click="goback()">
    Cancel
  </button>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h5 class="font-130 text-center">{{user.username}}</h5>
</ion-header-bar>

  <ion-content ng-controller="EditProfileCtrl" class="bg-color-stable">
    <span class="list">
      <h3 class="padding gotham-medium color-darkgray text-center">Edit profile</h3>
      <h4 class="padding gotham-medium  text-center">{{user.username}}</h4>
      <div class="row">
        <div class="col col-100">
          <div class="profile-edit-container">
            <img class="img-rounded clip-top-right" ng-src="{{user.imgurl}}" alt="" width="100%"  ng-click="addPhotos()">

          </div>
        </div>
      </div>




      <label class="item item-input">
        <span class="input-label">Fullname</span>
        <input type="text" ng-model="user.fullname">
      </label>

      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="email" ng-model="user.email">
      </label>

      <label class="item item-input item-select">
          <span class="input-label">
            Age
          </span>
        <select text-indent="5px" ng-name="n" ng-options="n for n in range_age(0,100)" class="form-control" ng-model="user.age">
          <option value="">{{user.age}} Years</option>
        </select>
      </label>

      <label class="item item-input">
        <span class="input-label">City</span>
        <input type="text" ng-model="user.city">

      </label>

      <label class="item item-input">
        <span class="input-label">Gender</span>

        <ion-radio ng-model="user.sex" ng-value="'Male'"><i class="icon ion-man"></i></ion-radio>
       &nbsp

        <ion-radio ng-model="user.sex" ng-value="'Female'"><i class="icon ion-woman"></i></ion-radio>

      </label>

      <label class="item item-input item-select">
        <span class="input-label">
          Height
        </span>
        <select  ng-name="n" ng-options="n for n in range_height(100,300)" class="form-control" ng-model="user.height">
          <option value="">{{user.height}} cm</option>
        </select>
        </label>


        <label class="item item-input item-select">
          <span class="input-label">
            Weight
          </span>
          <select text-indent="5px" ng-name="n" ng-options="n for n in range_weight(0,200)" class="form-control" ng-model="user.weight">
            <option value="">{{user.weight}} Kg</option>
          </select>
          </label>
      <label class="item item-input">
        <span class="input-label">Old Password</span>
        <input type="password" ng-model="user.oldpassword">
      </label>

      <label class="item item-input">
        <span class="input-label">New Password</span>
        <input type="password" ng-model="user.newpassword">
      </label>

      <label class="item item-input">
        <span class="input-label">Confirm password</span>
        <input type="password" ng-model="data.newpassword">
      </label>


      <h5 class="padding gotham-medium color-darkgray text-center">Since {{user.created|date:'medium'}}</h5>

      <button ng-click="updateUser()" class="button button-block button-calm text-center">
        Save
      </button>

    </div>
  </ion-content>

</ion-view>
