<ion-view view-title="Bienvenido a Flivess" name="login-view">
  <ion-content style="background: url(img/login.jpg) no-repeat center; background-size:cover; background-attachment:fixed;>
  <ion-content class="padding">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Username" ng-model="data.username">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="data.password">
      </label>
    </div>
    <button class="button button-block button-calm" ng-click="login()">Login</button>
    <button class="button button-block button-calm" ng-click="redir()">Register</button>
    <button class="button button-block button-calm" ng-click="loginFB()">FB</button>
  </ion-content>
    </ion-content>
</ion-view>
