<ion-view hide-nav-bar="true" name="login-view">

  <ion-content style="background: url(img/login.jpg) no-repeat center; background-size:cover; background-attachment:fixed;">
      <br>
      <br>
      <br>

    <div class="text-center"><img src="img/logo1.png"></div>
    <br><br><br>

    <div class="row">
      <div class="col col-10"></div>
      <div class="col col-80">

        <label  class="item  item-input">
          <input  type="text" placeholder="Username" ng-model="data.username">
        </label>

      </div>
      <div class="col col-10"></div>

    </div>

    <div class="row">
      <div class="col col-5"></div>
      <div class="col col-80">

        <label  class="item  item-input">
          <input type="password" placeholder="Password" ng-model="data.password">
        </label>

      </div>
      <div class="col col-15"></div>

    </div>



<!--
    <div class="list list-inset">
      <label  class="item  item-input">
        <input  type="text" placeholder="Username" ng-model="data.username">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="data.password">
      </label>
    </div>-->
    <br><br>

<div class="text-center">
  <button style="width: 80%" class="button  button-calm" ng-click="login()">Login</button>
  <br>
  <br>
  <button style="width: 80%" class="button  button-positive" ng-click="loginFB()"> <i class="icon ion-social-facebook"></i></button>
  <br><br><br><br>

  <br>

  <label style="color: whitesmoke" class="text-center">Don't have an account yet?</label>
  <button style="width: 70%" class="button  button-stable" ng-click="redir()">New account</button>

</div>


    </ion-content>
</ion-view>
