<ion-header-bar class="bar-subheader item-input-inset" side="left">
  <button class="button button-clear button-assertive" ng-click="goback()">
    Cancel
  </button>
  <h5 class="font-130 text-center">{{user.username}}</h5>
</ion-header-bar>
<ion-content>
  <ion-list class="list card" ng-repeat="notify in notifications| orderBy:'date':true">
    <div class="item item-divider">
      <span am-time-ago="notify.date"></span>
    </div>
    <div class="item">
      <i ng-if="notify.type==0" ng-click="messages(notify.actionusername)" class="icon user-messages-top-icon ion-ios-email-outline"></i> <i ng-if="notify.type==1"  ng-click="profile(notify.actionusername)"  class="icon user-messages-top-icon ion-ios-personadd-outline"></i><strong>&nbsp;&nbsp;{{notify.actionusername}} </strong>{{notify.text}}

    </div>
  </ion-list>
</ion-content>

