<ion-view>
<ion-nav-buttons side="left">
  <button ng-click="toSearch()" menu-toggle="left" class="button button-icon icon ion-ios-search-strong"></button>
</ion-nav-buttons>

<ion-nav-buttons side="right">
  <button ng-click="toTrack()" class="button icon ion-android-walk">Run!</button>
</ion-nav-buttons>
<ion-content>
  <div ng-if="notifications == ''" class="text-center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <p class="color-gray"  >No Notifications...</p>
  </div>
  <div ng-show="notifications != ''" class="text-right">
    <br>
    <button class="button button-small button-assertive"  ng-click="eliminarNotis()">CLEAR</button>
  </div>
  <ion-list class="list card" ng-repeat="notify in notifications| orderBy:'date':true">
    <div class="item item-divider">
      <span am-time-ago="notify.date"></span>
    </div>
    <div ng-if="notify.type==0" ng-click="messages(notify.actionusername)" class="item">
      <i class="icon user-messages-top-icon ion-ios-email-outline"></i><strong>&nbsp;&nbsp;{{notify.actionusername}} </strong>{{notify.text}}

    </div>
    <div ng-if="notify.type==1"  ng-click="profile(notify.actionusername)"  class="item">
       <i class="icon user-messages-top-icon ion-ios-personadd-outline"></i><strong>&nbsp;&nbsp;{{notify.actionusername}} </strong>{{notify.text}}

    </div>
    <br>
  </ion-list>
</ion-content>
</ion-view>
