<ion-view title="Bienvenido a Flivess">
  <ion-content  class="padding">
    <h1>Hola</h1>
    <p>Estamos trabajando en el tracking</p>

    <button class="button button-block button-calm" ng-click="start()" ng-show="boton_start">Start</button>
    <ion-list>
      <ion-item name="parameters" class="padding">
        <p>{{tracking_state}}</p>
        <p>{{distancia}}</p>
        <p>{{tiempo}}</p>
        <p>{{velocidad}}</p>
      </ion-item>
    </ion-list>
    <button class="button button-block button-calm" ng-click="stop_track()"  ng-show="boton_stop">Stop</button>
    <br><br><br>
    <button class="button button-block button-calm" ng-click="volver()" ng-show="boton_cancelar">Cancel</button>
    <button class="button button-block button-calm" ng-click="send()" ng-show="boton_envio">Guardar</button>


  </ion-content>
</ion-view>
